body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

#display {
    width: 93%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #010101;
    color: white;
    cursor: pointer;
}

.btn:active {
    background-color:  #d0d0d0;
}

.equal {
    background-color: #007bff;
    color: white;
}

.equal:active {
    background-color: #0056b3;
}

/*
body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecdfdfe9;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white
    
}

#display {
    width: 93%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}

.btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e3dbdb;
    cursor: pointer;
}

.btn:active {
    background-color: #0e0101;
   
}

.equal {
    background-color: #007bff;
    color: white;
}

.equal:active {
    background-color:#0056b3;
}
    */